<app-menu></app-menu>
<form>
    <div class="reservas">
        <div class="form-group">
            <h2 class="solicitacoes" for="exampleFormControlTextarea1">Solicitações de Reservas</h2>
            <table class="table-solicitacoes">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">19:30</th>
                    <td>John Doe</td>
                    <td>2 pessoas</td>
                    <td>(19) 99999-9999</td>
                    <td>
                        <mat-icon aria-hidden="false">task_alt_outline</mat-icon>
                    </td>
                    <td>
                        <mat-icon aria-hidden="false">cancel</mat-icon>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">20:30</th>
                    <td>Joana Silva</td>
                    <td>2 pessoas</td>
                    <td>(19) 99999-9999</td>
                    <td>
                        <mat-icon aria-hidden="false">task_alt_outline</mat-icon>
                    </td>
                    <td>
                        <mat-icon aria-hidden="false">cancel</mat-icon>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">20:30</th>
                    <td>Benedito Moraes</td>
                    <td>2 pessoas</td>
                    <td>(19) 99999-9999</td>
                    <td>
                        <mat-icon aria-hidden="false">task_alt_outline</mat-icon>
                    </td>
                    <td>
                        <mat-icon aria-hidden="false">cancel</mat-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <app-calendario></app-calendario>
    </div>
</form>

