<app-menu></app-menu>
<form>    
    <div class="home">
        

        
        <div class="form-group">
            <h2 for="exampleFormControlTextarea1">Prato do Dia</h2>
            <textarea class="form-control" rows="4">
                Exemplo do título de Prato do dia
                Acompanhamento do prato
                Sobremesa
            </textarea>
        </div>
        <div class="form-group">
            <h2 for="exampleFormControlTextarea1">Reservas</h2>
            <table class="table">
                <thead>                 
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">19:30</th>
                    <td>John Doe</td>                
                  </tr>
                  <tr>
                    <th scope="row">20:30</th>
                    <td>Joana Silva</td>
                  </tr>
                  <tr>
                    <th scope="row">20:30</th>
                    <td>Benedito Moraes</td>                
                  </tr>
                </tbody>
              </table>              
        </div>
        <div class="form-group">
            <h2 for="exampleFormControlTextarea1">Palco</h2>
            <table class="table">
            <thead>               
            </thead>
            <tbody>
                <tr>
                    <th scope="row">20:00</th>
                    <td>Blues Etilícos</td>                
                </tr>
                <tr>
                    <th scope="row">20:00</th>
                    <td>Blues Etilícos</td>
                </tr>
                <tr>
                    <th scope="row">20:00</th>
                    <td>Zé do Violão</td>                
                </tr>
            </tbody>
            </table>
            
        </div>    
        <app-calendario></app-calendario>
        
    </div>
    
</form>
