.agenda{
  position: absolute;
  width: 1440px;
  height: 823px;
  left: 0px;
  top: 160px;

  background: rgba(144, 99, 255, 0.1);
}
.form-group{
  width: 850px;
}

.form-group .prato-dia{
  
  width: 300px;
  height: 54px;
  left: 244px;   
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  
  text-align: center;
  color: #9063FF;  
}
.form-group .buscar-artista{  
  width: 480px;
  height: 50px;   
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;  
  text-align: center;
  color: #9063FF;  
}


span {
    width: 155px;
}

.combo{    
    top: 20px;    
    text-align: center;
    color: #9063FF;       
}
.alinha-input{
  padding-left: 60px;    
}

.table{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 10px;
  width: 750px;
  text-align: left;
  color: #9063FF;
  margin-left: 70px;  
}
.form-group .confirmar-artista{  
  width: 300px;
  height: 54px;  
  margin-left: 35px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  
  text-align: center;
  color: #9063FF;  
}
.color{
  color: #9063FF;  
}