.agenda{
  position: absolute;
  width: 1440px;
  height: 823px;
  left: 0px;
  top: 160px;

  background: rgba(144, 99, 255, 0.1);
}
span {
    width: 155px;
}

.combo{
    margin-left: 10px;
    top: 10px;
}
