<div class="container">
  <img src="/assets/gig_music.jpg" height="150px" width="150px" alt="">
  

  <div class="field">     
      <i class="fa fa-envelope-o"></i> 
      <input type="text" placeholder="Email">         
  </div>
   
  <div class="field">     
      <i class="fa fa-key"></i> 
        <input type="text" placeholder="Password">           
  </div> 
  <button class="login_btn" (click)="rotearHome()">Login</button>
  <button class="login_btn" (click)="rotearHome()"><i class="fa fa-google fa-1x"></i>Google</button>  
  
</div>
<router-outlet></router-outlet>